body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e3e6e4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.container1 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  color: #e0d9d9;
}

.container2 {
  max-width: 500px;
  margin: 80px ;
  color: #0c0c0c;
  align-content: end;
}
header {
  padding: 20px 0;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #6b6868;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.main {
  padding: 20px 0;
}
.hero {
  background-image: url('./hm1.png');
  background-size: cover;
  background-position: center;
  color: #8052d5;
  text-align: left;
  padding-top: 400px;
  

}
.container4 {
  text-align: center;
  background-color:  #4682a9;
}


.btn-primary {
  background-color: #ff5722;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px ;
  border-radius: 5px;
  
}

.btn-primary:hover {
  background-color: #f4511e;
  margin-left: 300px;
  
}

.about {
  background-color: #fff;
  padding: 50px 0;
}


.about h2 {
  text-align: center;
  margin-bottom: 20px;
}

.features {
  background-color: #7ec3ea;
  padding: 50px 0;
}

.features h2 {
  text-align: center;
  margin-bottom: 40px;
}

.feature-item {
  text-align: center;
  margin-bottom: 40px;
}

.feature-item .icon {
  font-size: 40px;
  margin-bottom: 20px;
}

.footer {
  background-color: #fbf4f4;
  color: #ceced7;
  padding: 20px 0;
  text-align: center;
}

.social-links a {
  color: #f3f0f1;
  text-decoration: none;
  margin: 0 10px;
  font-size: 20px;
}

.homepage h1{
  align-items: center;

}
.homepage{
  margin-bottom: 20px;
}

.animation1 body {
  background: rgb(8, 7, 7);
  overflow-x: hidden;
  overflow-y: hidden;
}

.animation1 h1 {
  font-size: 80px;
  padding-bottom: 80px;
  color: #6b6868;
}

.role {
  overflow-x: hidden;

  background-repeat: no-repeat;
  background-size: cover;
}

#first {
  height: 128px;
  width: 128px;
  position: absolute;
  left: -500px;
  animation: roling 7s ease-in infinite;
  /* top: 270px; */
  top: 220px;
}

@keyframes roling {
  0% {
    left: -500px;
  }

  100% {
    left: 100%;
  }
}

.role1 {
  width: 100vw;
  position: absolute;
  top: 200px;
}

#second {
  height: 128px;
  width: 128px;
  position: absolute;
  animation: roling1 10s ease-in-out infinite;
  right: -200px;
}

@keyframes roling1 {
  0% {
    right: -300px;
  }
  100% {
    right: 105%;
  }
}

.wrap {
  background: url(https://t3.ftcdn.net/jpg/02/38/16/06/240_F_238160640_O7yVyntTmIikIejXgdoARTQW5siJ3QVH.jpg);
  height: 200px;
  width: 100vw;
  padding-bottom: 240px;
}
.role2 {
  position: absolute;
  top: -400px;
  animation: plane 9s linear infinite;
  z-index: 5;
}

@keyframes plane {
  0% {
    top: -100px;
    left: 30%;
  }
  25% {
    top: -20px;
    left: 45%;
  }
  50% {
    top: 20px;
    left: 65%;
  }
  75% {
    top: 35px;
    left: 85%;
  }
  100% {
    left: 110%;
    top: 50px;
  }
}

.role3 {
  position: absolute;
  /* top: 292px; */
  top: 250px;

  animation: pickup 5s linear infinite;
}

@keyframes pickup {
  0% {
    left: -20%;
  }
  100% {
    left: 110%;
  }
}